body {
  font-family: system-ui;
  background: #f07a1f;
  text-align: center;
}

header {
  background-color: #f06d06;
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 10px;
  text-align: left;
}
